<!DOCTYPE html>
<html>
  <head>
    <title>Playbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <header>
      <nav>
        <a href="/pages/new">Create Page</a>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
