<!DOCTYPE html>
<html>
  <head>
    <title>Playbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="top-nav-bar">
        <ul>
          <li>
            <a href="/pages/new">Create Page</a>
          </li>
          <li>
            <a href="/users/new">Sign Up</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
